@import '../../assets/Stylesheets/variables.module';

.Parallax {
    position: absolute;
    height: 100%;
}

div.Parallax {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'helvetica', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    
    background-size: cover;
    background-image: url('../../assets/images/brown-sugar-cupcake.jpg');
    min-height: 60%;
}

.pimg2 {
    background-image: url('../../assets/images/chocolate-cupcakes-bg.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('../../assets/images/chocolate-cupcakes-bg-short.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.sectionLight {
    background-color: #f4f4f4;
    color: #666;
}

.sectionDark {
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 6em;
    letter-spacing: 1px;
}

.ptext .border {
    background: repeating-linear-gradient(
        30deg,
        #C4609866,
        #C4609866, 20px,
        #00C9AF99, 20px,
        #00C9AF99 40px
      );
    color: #4C002E;
    padding: 29px;
    font-family: 'arizonia';
}