@media (max-width: 600px) {
    .Mobile {
        position: fixed;
        width: 300px;
        max-width: 70%;
        height: auto;
        top: 65px;
        left: 0;
    }
}

.Mobile {
    display: none;
}